@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
}

body {
  background-color: #e5eff5;
}

.container {
  height: auto;
  width: 100%;
  background-color: #e5eff5;
}

.content {
  height: 100vh;
  width: 85%;
  margin: 7rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
}

.content__upper {
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  -webkit-box-flex: calc(33.3333% - 5.66665%);
      -ms-flex: calc(33.3333% - 5.66665%);
          flex: calc(33.3333% - 5.66665%);
}

.content__upper__heading {
  font-size: 2rem;
  font-weight: 700;
  color: #2ab2af;
  display: -ms-grid;
  display: grid;
  width: 85%;
  margin: 0 auto;
  padding-top: 3rem;
  grid-gap: 2rem;
}

.content__upper__heading span {
  font-size: 1.5rem;
  font-weight: 400;
  color: #c0df34;
}

.content__upper__paragraph {
  width: 85%;
  margin: 0 auto;
  color: #b7c1d1;
  font-size: 1.4rem;
  padding-top: 2rem;
  line-height: 2.5rem;
}

.content__middle {
  background-color: #2ab2af;
  -webkit-box-flex: calc(33.3333% - 7.66665%);
      -ms-flex: calc(33.3333% - 7.66665%);
          flex: calc(33.3333% - 7.66665%);
}

.content__middle__heading {
  width: 85%;
  margin: 0 auto;
  color: #e5eff5;
  font-size: 1.8rem;
  margin-top: 2rem;
}

.content__middle__price {
  width: 85%;
  margin: 0 auto;
  font-size: 3rem;
  color: white;
  font-weight: 700;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__middle__price span {
  font-size: 1.5rem;
  font-weight: 400;
  color: #c1d7e6;
  padding-left: 1rem;
}

.content__middle__paragraph {
  width: 85%;
  margin: 0 auto;
  color: #e5eff5;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.content__middle__btn {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: #e5eff5;
  background-color: #c0df34;
  border-radius: 0.5rem;
  padding: 1.5rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.12);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.12);
}

.content__lower {
  background-color: #49bebd;
  border-radius: 0 0 0.5rem 0.5rem;
  -webkit-box-flex: calc(33.3333% - 6.66665%);
      -ms-flex: calc(33.3333% - 6.66665%);
          flex: calc(33.3333% - 6.66665%);
}

.content__lower__heading {
  width: 85%;
  margin: 0 auto;
  color: #e5eff5;
  font-size: 1.8rem;
  margin-top: 2rem;
  font-weight: 700;
}

.content__lower__list {
  width: 85%;
  margin: 0 auto;
  color: #c1d7e6;
  font-size: 1.4rem;
  list-style: none;
  margin-top: 2rem;
  line-height: 2rem;
}

@media screen and (max-width: 360px) {
  .content__middle__paragraph {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 560px) {
  .container {
    height: 90vh;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -150%);
            transform: translate(-50%, -150%);
    height: 25vh;
    width: 44%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 22rem 26rem;
        grid-template-rows: 22rem 26rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  }
  .content__upper {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/1/3;
    border-radius: 1rem;
  }
  .content__upper__heading {
    width: 87%;
    font-size: 2.39rem;
    padding-top: 4rem;
    grid-gap: 2.5rem;
  }
  .content__upper__heading span {
    font-size: 1.7rem;
    font-weight: 700;
  }
  .content__upper__paragraph {
    width: 87%;
    font-size: 1.6rem;
    padding-top: 1rem;
  }
  .content__middle {
    border-radius: 0 0 0 1rem;
  }
  .content__middle__heading {
    margin-top: 4rem;
  }
  .content__middle > * {
    width: 75%;
  }
  .content__lower {
    border-radius: 0 0 1rem 0;
  }
  .content__lower__heading {
    margin-top: 4rem;
  }
  .content__lower > * {
    width: 75%;
  }
}

@media screen and (max-width: 666px) and (min-width: 560px) {
  .content {
    width: 90%;
  }
}

@media screen and (min-width: 666px) and (max-width: 850px) {
  .content {
    width: 75%;
  }
}

@media screen and (min-width: 850px) and (max-width: 1000px) {
  .content {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1125px) {
  .content__middle__heading {
    margin-top: 2rem;
  }
  .content__lower__heading {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */